{{setTitle 'TechStore - Edit Product'}}

<section class="edit-hero">
    <div class="container">
        <h2>Edit Product</h2>
        <p>Fill in the details below to edit a product to the catalog.</p>
    </div>
</section>

<section class="edit-form">
    <div class="container">
        <form  method="post">
            {{>formFields}}
            <button type="submit" class="btn">Edit Product</button>
        </form>
    </div>
</section>